In [44]:
# special IPython command to prepare the notebook for matplotlib
%matplotlib inline 

import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn
import statsmodels.api as sm

import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")
import pandas as pd, pickle, sys, itertools, string, sys, re, datetime, time, shutil, copy

# special matplotlib argument for improved plots
from matplotlib import rcParams
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [4]:
databal=pd.read_csv("TagsBal.csv")
datamty=pd.read_csv("TagsMty.csv")
modelbal=pd.read_csv("ModelBal.csv")
modelmty=pd.read_csv("ModelMty.csv", encoding = "ISO-8859-1")
paros=pd.read_csv("paros.csv", encoding = "ISO-8859-1")

In [5]:
databal = databal.merge(modelbal, left_on="tag", right_on="tag")
datamty = datamty.merge(modelmty, left_on="tag", right_on="tag")

In [6]:
databal.shape

(2470367, 7)

In [7]:
databal.to_csv("TodoBAL.csv", index=False)
datamty.to_csv("TodoMTY.csv", index=False)

# PLANTA BALCONES

In [8]:
print(databal.shape)
databal.head()

(2470367, 7)

,tag,date,value,plant,equipment,description,uom
0,8881302A01.BAL,2016-10-03 21:00:00,90.61740,Balcones,MAIN FUEL DOSER (PFISTER/SCHENCK),KILN FEEDER BLOWER CURRENT -KILN2,A
1,8881302A01.BAL,2016-10-06 18:00:00,89.90000,Balcones,MAIN FUEL DOSER (PFISTER/SCHENCK),KILN FEEDER BLOWER CURRENT -KILN2,A
2,8881302A01.BAL,2016-10-09 14:30:00,87.15057,Balcones,MAIN FUEL DOSER (PFISTER/SCHENCK),KILN FEEDER BLOWER CURRENT -KILN2,A
3,8881302A01.BAL,2016-10-12 11:30:00,87.58318,Balcones,MAIN FUEL DOSER (PFISTER/SCHENCK),KILN FEEDER BLOWER CURRENT -KILN2,A
4,8881302A01.BAL,2016-10-15 08:00:00,91.12938,Balcones,MAIN FUEL DOSER (PFISTER/SCHENCK),KILN FEEDER BLOWER CURRENT -KILN2,A

### IDFAN y FUELDOSER BALCONES

#### Se filtran los tags solo de ID FAN y FUELDOSER por separado. Se filtra la data original solo con esos tags

In [19]:
#FILTRADO DE TAGS ID FAN
tagsidfan=modelbal[(modelbal["equipment"]=="ID FAN")]
print(tagsidfan["tag"].nunique())
print(tagsidfan["tag"].unique().tolist())
print("")
#FILTRADO DE TAGS FUELDOSER
tagsfueldoser= modelbal[(modelbal["equipment"]=="MAIN FUEL DOSER (PFISTER/SCHENCK)")]
print(tagsfueldoser["tag"].nunique())
print(tagsfueldoser["tag"].unique().tolist())

13
['JT53124A02.BAL', 'PT5310102A.BAL', 'PT5310102B.BAL', 'PT5312402.BAL', 'ST53124A02.BAL', 'TE53124A52302G.BAL', 'TE53124A52302H.BAL', 'TE53124A52302J.BAL', 'TE53124A52302K.BAL', 'TT53120A021.BAL', 'TT53120A022.BAL', 'XT5312402A.BAL', 'XT5312402B.BAL']

17
['8881302A01.BAL', '8881502A01.BAL', 'FT5211002.BAL', 'FT5211102.BAL', 'FT55102A02.BAL', 'FT8880692_STON.BAL', 'FT8881202.BAL', 'FT8980104.BAL', 'FT89821A02.BAL', 'PT8880602.BAL', 'PT8881202.BAL', 'ST88805A01.BAL', 'ST8880602.BAL', 'TE5310202F.BAL', 'TE5311702A.BAL', 'WT8880602_MAT.BAL', 'WT8881202_MAT.BAL']

In [75]:
#DATA ORIGINAL FILTRADA PARA IDFAN SOLAMENTE
bal_idfan=databal[databal["tag"].isin(['JT53124A02.BAL', 'PT5310102A.BAL', 'PT5310102B.BAL',
       'PT5312402.BAL', 'ST53124A02.BAL', 'TE53124A52302G.BAL',
       'TE53124A52302H.BAL', 'TE53124A52302J.BAL', 'TE53124A52302K.BAL',
       'TT53120A021.BAL', 'TT53120A022.BAL', 'XT5312402A.BAL',
       'XT5312402B.BAL'])]



#DATA ORIGINAL FILTRADA PARA FUELDOSER SOLAMENTE
bal_fueldoser=databal[databal["tag"].isin(['8881302A01.BAL', '8881502A01.BAL', 'FT5211002.BAL', 
         'FT5211102.BAL', 'FT55102A02.BAL', 'FT8880692_STON.BAL', 
        'FT8881202.BAL', 'FT8980104.BAL', 'FT89821A02.BAL', 'PT8880602.BAL',
        'PT8881202.BAL', 'ST88805A01.BAL', 'ST8880602.BAL', 'TE5310202F.BAL',
        'TE5311702A.BAL', 'WT8880602_MAT.BAL', 'WT8881202_MAT.BAL'])]

In [16]:
#SE REVISA LA DATA IDFAN 
print(bal_idfan.shape)
bal_idfan.head(100)

(52561, 7)

,tag,date,value,plant,equipment,description,uom
578171,MX-MTY-RUN-00000-50010-00000-DCI,2016-10-02 15:30:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578172,MX-MTY-RUN-00000-50010-00000-DCI,2016-10-04 19:00:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578173,MX-MTY-RUN-00000-50010-00000-DCI,2016-10-06 22:30:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578174,MX-MTY-RUN-00000-50010-00000-DCI,2016-10-09 02:00:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578175,MX-MTY-RUN-00000-50010-00000-DCI,2016-10-11 05:30:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578176,MX-MTY-RUN-00000-50010-00000-DCI,2016-10-13 09:00:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578177,MX-MTY-RUN-00000-50010-00000-DCI,2016-10-15 12:30:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578178,MX-MTY-RUN-00000-50010-00000-DCI,2016-10-17 16:00:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578179,MX-MTY-RUN-00000-50010-00000-DCI,2016-10-19 19:30:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578180,MX-MTY-RUN-00000-50010-00000-DCI,2016-10-21 23:00:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578181,MX-MTY-RUN-00000-50010-00000-DCI,2016-10-24 02:30:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578182,MX-MTY-RUN-00000-50010-00000-DCI,2016-10-26 06:00:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578183,MX-MTY-RUN-00000-50010-00000-DCI,2016-10-28 09:30:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578184,MX-MTY-RUN-00000-50010-00000-DCI,2016-10-30 13:00:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578185,MX-MTY-RUN-00000-50010-00000-DCI,2016-11-01 16:30:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578186,MX-MTY-RUN-00000-50010-00000-DCI,2016-11-03 20:00:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578187,MX-MTY-RUN-00000-50010-00000-DCI,2016-11-05 23:30:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578188,MX-MTY-RUN-00000-50010-00000-DCI,2016-11-08 02:00:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578189,MX-MTY-RUN-00000-50010-00000-DCI,2016-11-10 05:30:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578190,MX-MTY-RUN-00000-50010-00000-DCI,2016-11-12 09:00:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578191,MX-MTY-RUN-00000-50010-00000-DCI,2016-11-14 12:30:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578192,MX-MTY-RUN-00000-50010-00000-DCI,2016-11-16 16:00:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578193,MX-MTY-RUN-00000-50010-00000-DCI,2016-11-18 19:30:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578194,MX-MTY-RUN-00000-50010-00000-DCI,2016-11-20 23:00:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578195,MX-MTY-RUN-00000-50010-00000-DCI,2016-11-23 02:30:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578196,MX-MTY-RUN-00000-50010-00000-DCI,2016-11-25 06:00:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578197,MX-MTY-RUN-00000-50010-00000-DCI,2016-11-27 09:30:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578198,MX-MTY-RUN-00000-50010-00000-DCI,2016-11-29 13:00:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578199,MX-MTY-RUN-00000-50010-00000-DCI,2016-12-01 16:30:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578200,MX-MTY-RUN-00000-50010-00000-DCI,2016-12-03 20:00:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
...,...,...,...,...,...,...,...
578241,MX-MTY-RUN-00000-50010-00000-DCI,2017-03-02 04:00:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578242,MX-MTY-RUN-00000-50010-00000-DCI,2017-03-04 07:30:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578243,MX-MTY-RUN-00000-50010-00000-DCI,2017-03-06 11:00:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578244,MX-MTY-RUN-00000-50010-00000-DCI,2017-03-08 14:30:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578245,MX-MTY-RUN-00000-50010-00000-DCI,2017-03-10 18:00:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578246,MX-MTY-RUN-00000-50010-00000-DCI,2017-03-12 22:30:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578247,MX-MTY-RUN-00000-50010-00000-DCI,2017-03-15 02:00:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578248,MX-MTY-RUN-00000-50010-00000-DCI,2017-03-17 05:30:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578249,MX-MTY-RUN-00000-50010-00000-DCI,2017-03-19 09:00:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578250,MX-MTY-RUN-00000-50010-00000-DCI,2017-03-21 12:30:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578251,MX-MTY-RUN-00000-50010-00000-DCI,2017-03-23 16:00:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578252,MX-MTY-RUN-00000-50010-00000-DCI,2017-03-25 19:30:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578253,MX-MTY-RUN-00000-50010-00000-DCI,2017-03-27 23:00:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578254,MX-MTY-RUN-00000-50010-00000-DCI,2017-03-30 02:30:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578255,MX-MTY-RUN-00000-50010-00000-DCI,2017-04-01 06:00:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578256,MX-MTY-RUN-00000-50010-00000-DCI,2017-04-03 09:30:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578257,MX-MTY-RUN-00000-50010-00000-DCI,2017-04-05 13:00:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578258,MX-MTY-RUN-00000-50010-00000-DCI,2017-04-07 16:30:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578259,MX-MTY-RUN-00000-50010-00000-DCI,2017-04-09 20:00:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578260,MX-MTY-RUN-00000-50010-00000-DCI,2017-04-11 23:30:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578261,MX-MTY-RUN-00000-50010-00000-DCI,2017-04-14 03:00:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578262,MX-MTY-RUN-00000-50010-00000-DCI,2017-04-16 06:30:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578263,MX-MTY-RUN-00000-50010-00000-DCI,2017-04-18 10:00:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578264,MX-MTY-RUN-00000-50010-00000-DCI,2017-04-20 13:30:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578265,MX-MTY-RUN-00000-50010-00000-DCI,2017-04-22 17:00:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578266,MX-MTY-RUN-00000-50010-00000-DCI,2017-04-24 20:30:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578267,MX-MTY-RUN-00000-50010-00000-DCI,2017-04-27 00:00:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578268,MX-MTY-RUN-00000-50010-00000-DCI,2017-04-29 03:30:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578269,MX-MTY-RUN-00000-50010-00000-DCI,2017-05-01 07:00:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,
578270,MX-MTY-RUN-00000-50010-00000-DCI,2017-05-03 10:30:00,-1572865.0,Monterrey,GENERAL,Senal primaria calculada instantánea,

In [77]:
#SE REVISA LA DATA FUELDOSER
print(bal_fueldoser.shape)
bal_fueldoser.head()

(893537, 7)

,tag,date,value,plant,equipment,description,uom
0,8881302A01.BAL,2016-10-03 21:00:00,90.61740,Balcones,MAIN FUEL DOSER (PFISTER/SCHENCK),KILN FEEDER BLOWER CURRENT -KILN2,A
1,8881302A01.BAL,2016-10-06 18:00:00,89.90000,Balcones,MAIN FUEL DOSER (PFISTER/SCHENCK),KILN FEEDER BLOWER CURRENT -KILN2,A
2,8881302A01.BAL,2016-10-09 14:30:00,87.15057,Balcones,MAIN FUEL DOSER (PFISTER/SCHENCK),KILN FEEDER BLOWER CURRENT -KILN2,A
3,8881302A01.BAL,2016-10-12 11:30:00,87.58318,Balcones,MAIN FUEL DOSER (PFISTER/SCHENCK),KILN FEEDER BLOWER CURRENT -KILN2,A
4,8881302A01.BAL,2016-10-15 08:00:00,91.12938,Balcones,MAIN FUEL DOSER (PFISTER/SCHENCK),KILN FEEDER BLOWER CURRENT -KILN2,A

In [83]:
#CSVs PARA IDFAN Y FUELDOSER BALCONES
bal_idfan.to_csv("BalconesIDFAN.csv", index=False)
bal_fueldoser.to_csv("BalconesFUELDOSER.csv", index=False)

# PLANTA MONTERREY

In [78]:
print(datamty.shape)
datamty.head()

(1524269, 7)

,tag,date,value,plant,equipment,description,uom
0,AI52101A10.MTY,2016-10-01 00:00:00,6.919657,Monterrey,MAIN FUEL DOSER (PFISTER/SCHENCK),IND GAS O2 H10 NUEVO HORNO 10,%-vol
1,AI52101A10.MTY,2016-10-03 19:00:00,6.789178,Monterrey,MAIN FUEL DOSER (PFISTER/SCHENCK),IND GAS O2 H10 NUEVO HORNO 10,%-vol
2,AI52101A10.MTY,2016-10-06 14:00:00,6.784909,Monterrey,MAIN FUEL DOSER (PFISTER/SCHENCK),IND GAS O2 H10 NUEVO HORNO 10,%-vol
3,AI52101A10.MTY,2016-10-09 09:00:00,4.879578,Monterrey,MAIN FUEL DOSER (PFISTER/SCHENCK),IND GAS O2 H10 NUEVO HORNO 10,%-vol
4,AI52101A10.MTY,2016-10-12 04:00:00,10.184110,Monterrey,MAIN FUEL DOSER (PFISTER/SCHENCK),IND GAS O2 H10 NUEVO HORNO 10,%-vol

### ID FAN Y FUEL DOSER MONTERREY

#### Se filtran los tags solo de ID FAN y FUELDOSER por separado. Se filtra la data original solo con esos tags

In [79]:
#FILTRADO DE TAGS ID FAN
tagsidfanmty=modelmty[(modelmty["equipment"]=="ID FAN")]
print(tagsidfanmty["tag"].nunique())
print(tagsidfanmty["tag"].unique().tolist())
print("")

#FILTRADO DE TAGS FUELDOSER
tagsfdmty= modelmty[(modelmty["equipment"]=="MAIN FUEL DOSER (PFISTER/SCHENCK)")]
print(tagsfdmty["tag"].nunique())
print(tagsfdmty["tag"].unique().tolist())

15
['JI5310210.MTY', 'JI5310310.MTY', 'PI5210210.MTY', 'PI5410610.MTY', 'SIC5210310.MTY', 'SIC5210810.MTY', 'TI5210710D.MTY', 'TI5210710E.MTY', 'TI5218110.MTY', 'TI5218210.MTY', 'TI5218810.MTY', 'TI5218910.MTY', 'TI5310410.MTY', 'VI5213110.MTY', 'VI5218110.MTY']

13
['AI52101A10.MTY', 'AI52101B10.MTY', 'FI8810810.MTY', 'FI8811010.MTY', 'FIC5200410.MTY', 'FIC8914410.MTY', 'FIC8915010.MTY', 'II8882110.MTY', 'II888310.MTY', 'PI8885810.MTY', 'PI8886710.MTY', 'TI5910110.MTY', 'TIC5210510A.SP.MTY']

In [80]:
#DATA ORIGINAL FILTRADA PARA IDFAN SOLAMENTE
mty_idfan=datamty[datamty["tag"].isin(['JI5310210.MTY', 'JI5310310.MTY', 'PI5210210.MTY', 'PI5410610.MTY', 
                                       'SIC5210310.MTY', 'SIC5210810.MTY', 'TI5210710D.MTY', 'TI5210710E.MTY', 'TI5218110.MTY', 'TI5218210.MTY', 
                                       'TI5218810.MTY', 'TI5218910.MTY', 'TI5310410.MTY', 'VI5213110.MTY', 'VI5218110.MTY'])]

#DATA ORIGINAL FILTRADA PARA FUELDOSER SOLAMENTE
mty_fueldoser=datamty[datamty["tag"].isin(['AI52101A10.MTY', 'AI52101B10.MTY', 'FI8810810.MTY', 'FI8811010.MTY', 
                                           'FIC5200410.MTY', 'FIC8914410.MTY', 'FIC8915010.MTY', 'II8882110.MTY', 
                                           'II888310.MTY', 'PI8885810.MTY', 'PI8886710.MTY', 'TI5910110.MTY', 
                                           'TIC5210510A.SP.MTY'])]

In [81]:
#SE REVISA LA DATA IDFAN 
print(mty_idfan.shape)
mty_idfan.head()

(788415, 7)

,tag,date,value,plant,equipment,description,uom
473049,JI5310210.MTY,2016-10-03 18:00:00,829.6128,Monterrey,ID FAN,POTENCIA VTI OTE HORNO 10,KW
473050,JI5310210.MTY,2016-10-06 14:30:00,982.6230,Monterrey,ID FAN,POTENCIA VTI OTE HORNO 10,KW
473051,JI5310210.MTY,2016-10-09 11:00:00,958.5803,Monterrey,ID FAN,POTENCIA VTI OTE HORNO 10,KW
473052,JI5310210.MTY,2016-10-12 07:30:00,889.7613,Monterrey,ID FAN,POTENCIA VTI OTE HORNO 10,KW
473053,JI5310210.MTY,2016-10-15 04:00:00,924.0697,Monterrey,ID FAN,POTENCIA VTI OTE HORNO 10,KW

In [82]:
#SE REVISA LA DATA FUELDOSER
print(mty_fueldoser.shape)
mty_fueldoser.head()

(683293, 7)

,tag,date,value,plant,equipment,description,uom
0,AI52101A10.MTY,2016-10-01 00:00:00,6.919657,Monterrey,MAIN FUEL DOSER (PFISTER/SCHENCK),IND GAS O2 H10 NUEVO HORNO 10,%-vol
1,AI52101A10.MTY,2016-10-03 19:00:00,6.789178,Monterrey,MAIN FUEL DOSER (PFISTER/SCHENCK),IND GAS O2 H10 NUEVO HORNO 10,%-vol
2,AI52101A10.MTY,2016-10-06 14:00:00,6.784909,Monterrey,MAIN FUEL DOSER (PFISTER/SCHENCK),IND GAS O2 H10 NUEVO HORNO 10,%-vol
3,AI52101A10.MTY,2016-10-09 09:00:00,4.879578,Monterrey,MAIN FUEL DOSER (PFISTER/SCHENCK),IND GAS O2 H10 NUEVO HORNO 10,%-vol
4,AI52101A10.MTY,2016-10-12 04:00:00,10.184110,Monterrey,MAIN FUEL DOSER (PFISTER/SCHENCK),IND GAS O2 H10 NUEVO HORNO 10,%-vol

In [84]:
#CSVs PARA IDFAN Y FUELDOSER MONTERREY
mty_idfan.to_csv("MonterreyIDFAN.csv", index=False)
mty_fueldoser.to_csv("MonterreyFUELDOSER.csv", index=False)

# ANÁLISIS BALCONES

In [21]:
#bal_idfan.to_csv("BalconesIDFAN.csv", index=False)
#bal_fueldoser.to_csv("BalconesFUELDOSER.csv", index=False)

bal_idfan=pd.read_csv("BalconesIDFAN.csv")
bal_fueldoser=pd.read_csv("BalconesFUELDOSER.csv")

In [3]:
def estadistica (n):
    for x in n:
        print("")
        print(x)
        print((bal_idfan[bal_idfan["tag"]==x]).describe())
print(bal_idfan["tag"].nunique())        
estadistica(bal_idfan["tag"].unique().tolist())

13

JT53124A02.BAL
              value
count  52152.000000
mean    1923.542138
std      849.628850
min       -9.281659
25%     1726.567000
50%     2233.360000
75%     2488.419000
max     3179.836000

PT5310102A.BAL
              value
count  52542.000000
mean     -31.465884
std       13.264017
min      -46.401200
25%      -39.599250
50%      -36.852870
75%      -30.692740
max        5.563911

PT5310102B.BAL
              value
count  52542.000000
mean     -32.199050
std       13.459774
min      -48.858250
25%      -40.432407
50%      -37.534750
75%      -31.529797
max        1.796430

PT5312402.BAL
              value
count  52542.000000
mean      -1.625851
std        0.671994
min       -9.482987
25%       -2.017828
50%       -1.671073
75%       -1.260555
max        5.228080

ST53124A02.BAL
              value
count  52198.000000
mean     669.316864
std      236.358603
min       -3.586991
25%      708.304725
50%      768.258900
75%      793.410475
max      881.654600

TE53124A52302G.BAL
              value
count  52542.000000
mean     114.465724
std       14.111323
min        0.000000
25%      115.000000
50%      118.129950
75%      121.364675
max      134.998300

TE53124A52302H.BAL
              value
count  52542.000000
mean      91.359608
std        7.710492
min        0.000000
25%       90.019410
50%       92.404830
75%       95.000000
max      110.995800

TE53124A52302J.BAL
              value
count  52542.000000
mean     143.677308
std       21.330943
min        0.000000
25%      140.155375
50%      148.819100
75%      156.967625
max      173.904900

TE53124A52302K.BAL
              value
count  52542.000000
mean     142.588897
std       19.722469
min        0.000000
25%      141.177975
50%      147.642350
75%      154.000000
max      166.788700

TT53120A021.BAL
              value
count  52542.000000
mean     406.535763
std      177.397356
min      -50.000000
25%      261.512050
50%      438.254750
75%      536.920150
max     1063.000000

TT53120A022.BAL
              value
count  52542.000000
mean     432.323197
std      177.702318
min      -50.000000
25%      311.988450
50%      471.069400
75%      590.298350
max     1063.000000

XT5312402A.BAL
              value
count  52542.000000
mean       0.080281
std        0.047919
min       -0.000122
25%        0.052514
50%        0.079449
75%        0.111790
max        0.232885

XT5312402B.BAL
              value
count  52542.000000
mean       0.077144
std        0.043782
min        0.000249
25%        0.053460
50%        0.078076
75%        0.106049
max        0.220720

In [66]:
#FUNCION PARA MOSTRAR LOS BIGOTES SUPERIOR E INFERIOR DE CADA VARIABLE EN IDFAN DE BALCONES
baltags=bal_idfan["tag"].unique().tolist()
def interc (n):
    for x in n:
        i = (bal_idfan[bal_idfan["tag"]==x].quantile(.75)) - (bal_idfan[bal_idfan["tag"]==x].quantile(.25))
        upper= (bal_idfan[bal_idfan["tag"]==x]).quantile(.75) + (1.5*i)
        lower= (bal_idfan[bal_idfan["tag"]==x]).quantile(.25) - (1.5*i)
        
        print("")
        print("-----------")
        print(x)
     
        
        print("El bigote superior es ", + upper)
        print("El bigote inferior es", + lower)
interc(baltags)

-----------
JT53124A02.BAL
El bigote superior es  value    3631.197
dtype: float64
El bigote inferior es value    583.789
dtype: float64

-----------
PT5310102A.BAL
El bigote superior es  value   -17.332975
dtype: float64
El bigote inferior es value   -52.959015
dtype: float64

-----------
PT5310102B.BAL
El bigote superior es  value   -18.175883
dtype: float64
El bigote inferior es value   -53.786322
dtype: float64

-----------
PT5312402.BAL
El bigote superior es  value   -0.124644
dtype: float64
El bigote inferior es value   -3.153738
dtype: float64

-----------
ST53124A02.BAL
El bigote superior es  value    921.0691
dtype: float64
El bigote inferior es value    580.6461
dtype: float64

-----------
TE53124A52302G.BAL
El bigote superior es  value    130.911688
dtype: float64
El bigote inferior es value    105.452987
dtype: float64

-----------
TE53124A52302H.BAL
El bigote superior es  value    102.470885
dtype: float64
El bigote inferior es value    82.548525
dtype: float64

-----------
TE53124A52302J.BAL
El bigote superior es  value    182.186
dtype: float64
El bigote inferior es value    114.937
dtype: float64

-----------
TE53124A52302K.BAL
El bigote superior es  value    173.233037
dtype: float64
El bigote inferior es value    121.944938
dtype: float64

-----------
TT53120A021.BAL
El bigote superior es  value    950.0323
dtype: float64
El bigote inferior es value   -151.6001
dtype: float64

-----------
TT53120A022.BAL
El bigote superior es  value    1007.7632
dtype: float64
El bigote inferior es value   -105.4764
dtype: float64

-----------
XT5312402A.BAL
El bigote superior es  value    0.200705
dtype: float64
El bigote inferior es value   -0.036401
dtype: float64

-----------
XT5312402B.BAL
El bigote superior es  value    0.184934
dtype: float64
El bigote inferior es value   -0.025424
dtype: float64

In [67]:
#FUNCION PARA MOSTRAR LOS BIGOTES SUPERIOR E INFERIOR DE CADA VARIABLE EN FUELDOSER DE BALCONES
baltags2=bal_fueldoser["tag"].unique().tolist()
def interc (n):
    for x in n:
        i = (bal_fueldoser[bal_fueldoser["tag"]==x].quantile(.75)) - (bal_fueldoser[bal_fueldoser["tag"]==x].quantile(.25))
        upper= (bal_fueldoser[bal_fueldoser["tag"]==x]).quantile(.75) + (1.5*i)
        lower= (bal_fueldoser[bal_fueldoser["tag"]==x]).quantile(.25) - (1.5*i)
        
        print("")
        print("-----------")
        print(x)
     
        
        print("El bigote superior es ", + upper)
        print("El bigote inferior es", + lower)
interc(baltags2)

-----------
8881302A01.BAL
El bigote superior es  value    216.9973
dtype: float64
El bigote inferior es value   -130.19838
dtype: float64

-----------
8881502A01.BAL
El bigote superior es  value    105.018944
dtype: float64
El bigote inferior es value    64.428634
dtype: float64

-----------
FT5211002.BAL
El bigote superior es  value    0.0
dtype: float64
El bigote inferior es value    0.0
dtype: float64

-----------
FT5211102.BAL
El bigote superior es  value    427.583238
dtype: float64
El bigote inferior es value   -16.759663
dtype: float64

-----------
FT55102A02.BAL
El bigote superior es  value    197.333814
dtype: float64
El bigote inferior es value   -118.419504
dtype: float64

-----------
FT8880692_STON.BAL
El bigote superior es  value    12.512093
dtype: float64
El bigote inferior es value   -5.108627
dtype: float64

-----------
FT8881202.BAL
El bigote superior es  value    11.114721
dtype: float64
El bigote inferior es value   -3.707053
dtype: float64

-----------
FT8980104.BAL
El bigote superior es  value    15.633896
dtype: float64
El bigote inferior es value   -4.626884
dtype: float64

-----------
FT89821A02.BAL
El bigote superior es  value    4.992176
dtype: float64
El bigote inferior es value   -2.995306
dtype: float64

-----------
PT8880602.BAL
El bigote superior es  value    9.987345
dtype: float64
El bigote inferior es value    0.817753
dtype: float64

-----------
PT8881202.BAL
El bigote superior es  value    4.893614
dtype: float64
El bigote inferior es value    0.321166
dtype: float64

-----------
ST88805A01.BAL
El bigote superior es  value    100.18295
dtype: float64
El bigote inferior es value    99.98255
dtype: float64

-----------
ST8880602.BAL
El bigote superior es  value    1669.924275
dtype: float64
El bigote inferior es value   -747.011725
dtype: float64

-----------
TE5310202F.BAL
El bigote superior es  value    1884.26625
dtype: float64
El bigote inferior es value    675.39025
dtype: float64

-----------
TE5311702A.BAL
El bigote superior es  value    2350.74005
dtype: float64
El bigote inferior es value    87.86325
dtype: float64

-----------
WT8880602_MAT.BAL
El bigote superior es  value    180.313896
dtype: float64
El bigote inferior es value    23.827506
dtype: float64

-----------
WT8881202_MAT.BAL
El bigote superior es  value    188.230525
dtype: float64
El bigote inferior es value    73.280125
dtype: float64

# ANÁLISIS MONTERREY

In [22]:
#bal_idfan.to_csv("BalconesIDFAN.csv", index=False)
#bal_fueldoser.to_csv("BalconesFUELDOSER.csv", index=False)

monterrey_idfan=pd.read_csv("MonterreyIDFAN.csv")
monterrey_fueldoser=pd.read_csv("MonterreyFUELDOSER.csv")

In [68]:
monterrey_idfan.head()

,tag,date,value,plant,equipment,description,uom
0,JI5310210.MTY,2016-10-03 18:00:00,829.6128,Monterrey,ID FAN,POTENCIA VTI OTE HORNO 10,KW
1,JI5310210.MTY,2016-10-06 14:30:00,982.6230,Monterrey,ID FAN,POTENCIA VTI OTE HORNO 10,KW
2,JI5310210.MTY,2016-10-09 11:00:00,958.5803,Monterrey,ID FAN,POTENCIA VTI OTE HORNO 10,KW
3,JI5310210.MTY,2016-10-12 07:30:00,889.7613,Monterrey,ID FAN,POTENCIA VTI OTE HORNO 10,KW
4,JI5310210.MTY,2016-10-15 04:00:00,924.0697,Monterrey,ID FAN,POTENCIA VTI OTE HORNO 10,KW

In [64]:
#FUNCION PARA MOSTRAR LOS BIGOTES SUPERIOR E INFERIOR DE CADA VARIABLE EN IDFAN DE MONTERREY

In [61]:
mtytags=monterrey_idfan["tag"].unique().tolist()
def interc (n):
    for x in n:
        i = (monterrey_idfan[monterrey_idfan["tag"]==x].quantile(.75)) - (monterrey_idfan[monterrey_idfan["tag"]==x].quantile(.25))
        upper= (monterrey_idfan[monterrey_idfan["tag"]==x]).quantile(.75) + (1.5*i)
        lower= (monterrey_idfan[monterrey_idfan["tag"]==x]).quantile(.25) - (1.5*i)
        
        print("")
        print("-----------")
        print(x)
     
        
        print("El bigote superior es ", + upper)
        print("El bigote inferior es", + lower)
interc(mtytags)

-----------
JI5310210.MTY
El bigote superior es  value    1305.7979
dtype: float64
El bigote inferior es value    768.5795
dtype: float64

-----------
JI5310310.MTY
El bigote superior es  value    1417.6335
dtype: float64
El bigote inferior es value    764.1055
dtype: float64

-----------
PI5210210.MTY
El bigote superior es  value    97.68273
dtype: float64
El bigote inferior es value    25.43641
dtype: float64

-----------
PI5410610.MTY
El bigote superior es  value    891.672325
dtype: float64
El bigote inferior es value    505.398125
dtype: float64

-----------
SIC5210310.MTY
El bigote superior es  value    771.229988
dtype: float64
El bigote inferior es value    674.751887
dtype: float64

-----------
SIC5210810.MTY
El bigote superior es  value    755.282525
dtype: float64
El bigote inferior es value    655.289525
dtype: float64

-----------
TI5210710D.MTY
El bigote superior es  value    61.886635
dtype: float64
El bigote inferior es value    24.333595
dtype: float64

-----------
TI5210710E.MTY
El bigote superior es  value    61.746837
dtype: float64
El bigote inferior es value    17.464658
dtype: float64

-----------
TI5218110.MTY
El bigote superior es  value    75.75811
dtype: float64
El bigote inferior es value    47.23427
dtype: float64

-----------
TI5218210.MTY
El bigote superior es  value    76.270625
dtype: float64
El bigote inferior es value    48.879385
dtype: float64

-----------
TI5218810.MTY
El bigote superior es  value    73.679735
dtype: float64
El bigote inferior es value    37.100175
dtype: float64

-----------
TI5218910.MTY
El bigote superior es  value    84.180575
dtype: float64
El bigote inferior es value    37.457335
dtype: float64

-----------
TI5310410.MTY
El bigote superior es  value    363.89305
dtype: float64
El bigote inferior es value    290.07345
dtype: float64

-----------
VI5213110.MTY
El bigote superior es  value    3.446425
dtype: float64
El bigote inferior es value   -0.802904
dtype: float64

-----------
VI5218110.MTY
El bigote superior es  value    3.064451
dtype: float64
El bigote inferior es value   -0.275566
dtype: float64

In [65]:
#FUNCION PARA MOSTRAR LOS BIGOTES SUPERIOR E INFERIOR DE CADA VARIABLE EN FUELDOSER DE MONTERREY

mtytags2=monterrey_fueldoser["tag"].unique().tolist()
def interc (n):
    for x in n:
        i = (monterrey_fueldoser[monterrey_fueldoser["tag"]==x].quantile(.75)) - (monterrey_fueldoser[monterrey_fueldoser["tag"]==x].quantile(.25))
        upper= (monterrey_fueldoser[monterrey_fueldoser["tag"]==x]).quantile(.75) + (1.5*i)
        lower= (monterrey_fueldoser[monterrey_fueldoser["tag"]==x]).quantile(.25) - (1.5*i)
        
        print("")
        print("-----------")
        print(x)
     
        
        print("El bigote superior es ", + upper)
        print("El bigote inferior es", + lower)
interc(mtytags2)

-----------
AI52101A10.MTY
El bigote superior es  value    22.025236
dtype: float64
El bigote inferior es value   -5.465474
dtype: float64

-----------
AI52101B10.MTY
El bigote superior es  value    143.975872
dtype: float64
El bigote inferior es value   -49.568507
dtype: float64

-----------
FI8810810.MTY
El bigote superior es  value    9658.51925
dtype: float64
El bigote inferior es value    2536.53725
dtype: float64

-----------
FI8811010.MTY
El bigote superior es  value    11652.32725
dtype: float64
El bigote inferior es value    216.84525
dtype: float64

-----------
FIC5200410.MTY
El bigote superior es  value    228.070712
dtype: float64
El bigote inferior es value    146.792413
dtype: float64

-----------
FIC8914410.MTY
El bigote superior es  value    4.200786
dtype: float64
El bigote inferior es value   -2.520472
dtype: float64

-----------
FIC8915010.MTY
El bigote superior es  value    9.781756
dtype: float64
El bigote inferior es value   -5.865473
dtype: float64

-----------
II8882110.MTY
El bigote superior es  value    146.49955
dtype: float64
El bigote inferior es value    102.84475
dtype: float64

-----------
II888310.MTY
El bigote superior es  value    140.06619
dtype: float64
El bigote inferior es value    68.68755
dtype: float64

-----------
PI8885810.MTY
El bigote superior es  value    632.2986
dtype: float64
El bigote inferior es value    317.4018
dtype: float64

-----------
PI8886710.MTY
El bigote superior es  value    526.4742
dtype: float64
El bigote inferior es value    151.707
dtype: float64

-----------
TI5910110.MTY
El bigote superior es  value    1186.853
dtype: float64
El bigote inferior es value    304.7018
dtype: float64

-----------
TIC5210510A.SP.MTY
El bigote superior es  value    955.786938
dtype: float64
El bigote inferior es value    857.688437
dtype: float64

In [41]:
#FUNCIÓN PARA MOSTRAR LA ESTADISTICA DESCRIPTIVA DE CADA VARIABLE EN IDFAN DE MONTERREY
def estadistica (n):
    for x in n:
        print("")
        print(x)
        print((monterrey_idfan[monterrey_idfan["tag"]==x]).describe())

print(monterrey_idfan["tag"].nunique())
estadistica(monterrey_idfan["tag"].unique().tolist())

15

JI5310210.MTY
              value
count  52367.000000
mean     952.809523
std      305.944552
min        0.000000
25%      970.036400
50%     1051.827000
75%     1104.341000
max     1544.893000

JI5310310.MTY
              value
count  52367.000000
mean     999.871332
std      325.899441
min        0.000000
25%     1009.178500
50%     1104.911000
75%     1172.560500
max     1451.091000

PI5210210.MTY
              value
count  52287.000000
mean      59.296875
std       18.468556
min        0.000000
25%       52.528780
50%       61.904480
75%       70.590360
max      199.921000

PI5410610.MTY
              value
count  52287.000000
mean     644.205729
std      194.508674
min        0.000000
25%      650.250950
50%      712.377800
75%      746.819500
max      998.882400

SIC5210310.MTY
              value
count  52300.000000
mean     673.834875
std      164.199947
min        0.000000
25%      710.931175
50%      731.772250
75%      735.050700
max      774.722700

SIC5210810.MTY
              value
count  52300.000000
mean     656.471288
std      162.818037
min        0.000000
25%      692.786900
50%      714.124050
75%      717.785150
max      753.207800

TI5210710D.MTY
              value
count  52319.000000
mean      42.866665
std        8.289865
min        0.000000
25%       38.415985
50%       43.864600
75%       47.804245
max       77.876600

TI5210710E.MTY
              value
count  52319.000000
mean      39.295002
std        8.252795
min        0.000000
25%       34.070475
50%       40.604310
75%       45.141020
max       77.888960

TI5218110.MTY
              value
count  52369.000000
mean      60.168466
std        8.387139
min        0.000000
25%       57.930710
50%       61.685340
75%       65.061670
max       77.201270

TI5218210.MTY
              value
count  52369.000000
mean      61.105137
std       11.438214
min        0.000000
25%       59.151100
50%       62.787380
75%       65.998910
max     1825.304000

TI5218810.MTY
              value
count  52369.000000
mean      54.884587
std        8.031047
min        0.000000
25%       50.817510
50%       55.390780
75%       59.962400
max       75.915740

TI5218910.MTY
              value
count  52369.000000
mean      59.674538
std       10.432186
min       -3.000000
25%       54.978550
50%       61.196010
75%       66.659360
max       79.878130

TI5310410.MTY
              value
count  52369.000000
mean     313.195770
std      144.652457
min        0.000000
25%      317.755800
50%      328.913300
75%      336.210700
max     3276.700000

VI5213110.MTY
              value
count  52319.000000
mean       1.415486
std        0.872567
min        0.000000
25%        0.790594
50%        1.242826
75%        1.852926
max        4.947560

VI5218110.MTY
              value
count  52319.000000
mean       1.391546
std        0.619721
min        0.000000
25%        0.976941
50%        1.510271
75%        1.811945
max        3.141895

In [40]:
#FUNCIÓN PARA MOSTRAR LA ESTADISTICA DESCRIPTIVA DE CADA VARIABLE EN FUELDOSER DE MONTERREY
def estadistica (n):
    for x in n:
        print("")
        print(x)
        print((monterrey_fueldoser[monterrey_fueldoser["tag"]==x]).describe())

print(monterrey_fueldoser["tag"].nunique())
estadistica(monterrey_fueldoser["tag"].unique().tolist())

13

AI52101A10.MTY
              value
count  52367.000000
mean       8.984003
std        5.739069
min        0.000000
25%        4.843542
50%        7.322514
75%       11.716220
max       20.000000

AI52101B10.MTY
              value
count  52367.000000
mean     224.809183
std      852.642909
min        0.000000
25%       23.010635
50%       23.337680
75%       71.396730
max    10000.000000

FI8810810.MTY
              value
count  52367.000000
mean    5714.025388
std     2212.157023
min        0.000000
25%     5207.280500
50%     6289.765000
75%     6987.776000
max    20000.000000

FI8811010.MTY
              value
count  52367.000000
mean    5689.150228
std     2581.642364
min        0.000000
25%     4505.151000
50%     6070.982000
75%     7364.021500
max    13703.080000

FIC5200410.MTY
              value
count  52348.000000
mean     170.388776
std       55.669146
min        0.000000
25%      177.271775
50%      188.166850
75%      197.591350
max      219.155700

FIC8914410.MTY
              value
count  52367.000000
mean       0.814303
std        1.180469
min        0.000000
25%        0.000000
50%        0.062390
75%        1.680314
max       11.313680

FIC8915010.MTY
              value
count  52367.000000
mean       2.057836
std        2.055361
min        0.000000
25%        0.002238
50%        1.456916
75%        3.914045
max        8.174788

II8882110.MTY
              value
count  36069.000000
mean     112.956039
std       41.082034
min        0.000000
25%      119.215300
50%      125.707800
75%      130.129000
max      162.334500

II888310.MTY
              value
count  36101.000000
mean      87.316854
std       46.337393
min        0.000000
25%       95.454540
50%      105.008500
75%      113.299200
max      399.345000

PI8885810.MTY
             value
count  36117.00000
mean     441.23120
std      150.54265
min        0.00000
25%      435.48810
50%      482.57660
75%      514.21230
max      671.99220

PI8886710.MTY
              value
count  36117.000000
mean     333.108900
std      143.048955
min        0.000000
25%      292.244700
50%      335.363700
75%      385.936500
max      672.846700

TI5910110.MTY
              value
count  52369.000000
mean     720.136919
std      314.157687
min        0.000000
25%      635.508500
50%      693.144800
75%      856.046300
max     6549.057000

TIC5210510A.SP.MTY
              value
count  52350.000000
mean     905.565225
std       15.043610
min      810.000000
25%      894.475375
50%      905.000000
75%      919.000000
max      930.000000

# PIVOT TABLES PARA HACER MODELOS PREDICTIVOS

In [36]:
#IDFAN Y FUELDOSER DE BALCONES
ptbalidfan=bal_idfan.pivot_table("value", index="date", columns="description", aggfunc="mean")
ptbalfueldoser=bal_fueldoser.pivot_table("value", index="date", columns="description", aggfunc="mean")

ptbalidfan = ptbalidfan.reset_index()
ptbalfueldoser= ptbalfueldoser.reset_index()


#IDFAN Y FUELDOSER DE MONTERREY
ptmtyidfan=monterrey_idfan.pivot_table("value", index="date", columns="description", aggfunc="mean")
ptmtyfueldoser=monterrey_fueldoser.pivot_table("value", index="date", columns="description", aggfunc="mean")

ptmtyidfan= ptmtyidfan.reset_index()
ptmtyfueldoser= ptmtyfueldoser.reset_index()

In [164]:
ptbalidfan.head()

description,KILN ID FAN MOTOR DE BRNG TEMP -KILN2,KILN ID FAN MOTOR ODE BRNG TEMP -KILN2,KILN ID FAN OUTLET PRESSURE -KILN2,KILN ID FAN POWER -KILN2,KILN ID FAN SPEED,KILN ID FAN TEMP #1 FAN BEARING -KILN2,KILN ID FAN TEMP #2 FAN BEARING -KILN2,KILN ID FAN VIBRATION -KILN2,STAGE 1A DISCHARGE GAS PRESSURE -KILN2,STAGE 1B DISCHARGE GAS PRESSURE -KILN2,...,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
0,122.3483,91.0,-1.991539,2283.381,773.7543,151.8130,150.9543,0.049514,-36.64047,-38.13877,...,1,5,275,False,True,False,True,False,False,1475280000
1,122.7297,91.0,-1.988343,2281.579,773.8171,151.6228,150.7006,0.050583,-36.38768,-37.54625,...,1,5,275,False,True,False,True,False,False,1475281800
2,123.1110,91.0,-2.143953,2309.477,773.5776,151.4327,150.4469,0.051653,-36.93771,-38.10820,...,1,5,275,False,True,False,True,False,False,1475283600
3,123.4924,91.0,-2.036518,2297.987,773.6574,151.2425,150.1932,0.052723,-36.33629,-37.83369,...,1,5,275,False,True,False,True,False,False,1475285400
4,123.8737,91.0,-2.108116,2267.121,773.8047,151.0524,149.9395,0.053792,-36.78667,-36.82982,...,1,5,275,False,True,False,True,False,False,1475287200

In [165]:
ptbalfueldoser.head()

description,CALC. ROTOWFDR FEEDRATE -KILN2,CALC. ROTOWFDR LOADING MATERIAL -KILN2,CALCINER BLOWER CURRENT -KILN2,CALCINER FEEDER BLOWER PRESSURE -KILN2,FEED FLOWMETER ACTUAL FEEDRATE -KILN2,FEED ROTOWFDR FEEDRATE -KILN2,K2 TIM FEEDRATE,KILN BURNER WFDR SPEED -KILN2,KILN FEEDER BLOWER CURRENT -KILN2,KILN FEEDER BLOWER PRESSURE -KILN2,...,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
0,1.954624,117.5702,80.18141,1.801634,0.0,250.8236,2.043782,762.0124,85.81585,6.092895,...,1,5,275,False,True,False,True,False,False,1475280000
1,2.084685,116.1478,82.46400,1.823007,0.0,250.8170,2.057861,768.6467,88.45000,6.098291,...,1,5,275,False,True,False,True,False,False,1475281800
2,2.483863,121.6483,80.49825,1.844380,0.0,250.8104,2.061873,754.6323,87.67714,6.103687,...,1,5,275,False,True,False,True,False,False,1475283600
3,2.708896,118.1240,84.25157,1.865753,0.0,250.8038,2.019328,735.7861,88.15898,6.109083,...,1,5,275,False,True,False,True,False,False,1475285400
4,1.991432,118.2477,79.99693,1.887126,0.0,250.7972,1.882527,738.4516,85.74269,6.114479,...,1,5,275,False,True,False,True,False,False,1475287200

In [166]:
ptmtyidfan.head()

description,CHUM L. LIBRE VTI OTE HORNO 10,POTENCIA VTI OTE HORNO 10,POTENCIA VTI PTE HORNO 10,PRESION ENTRADA DRACCO HORNO 10,PRESION ENTRADA VTIS HORNO 10,TEMP CHUM L CARGA VTI OTE HORNO 10,TEMP CHUM L CARGA VTI PTE HORNO 10,TEMP CHUM L LIBRE VTI PTE HORNO 10,TEMP SALIDA PRECALENTADOR HORNO 10,Temp Chumacera Motor Lado Carga VTI OTE,...,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
0,56.65437,940.4066,889.2732,42.12796,617.6624,56.05050,63.53107,60.06686,331.8810,45.19262,...,1,5,275,False,True,False,True,False,False,1475280000
1,56.61032,919.8439,899.3297,40.69216,644.2539,56.03790,63.51220,59.98492,332.1586,45.12966,...,1,5,275,False,True,False,True,False,False,1475281800
2,56.56627,935.7388,938.7916,38.96289,621.0678,56.02531,63.49777,59.90299,332.4363,45.06670,...,1,5,275,False,True,False,True,False,False,1475283600
3,56.52222,924.4288,943.7044,46.99400,622.4374,56.01271,63.49148,59.82106,334.5285,45.00375,...,1,5,275,False,True,False,True,False,False,1475285400
4,56.45634,927.0964,922.0532,48.81271,652.3612,56.00011,63.48518,59.73912,333.6945,44.94079,...,1,5,275,False,True,False,True,False,False,1475287200

In [167]:
ptmtyfueldoser.head()

description,Flujo alim rdf h10,ALIMENTACION HORNO HORNO10,Control Fuzzy Temperatura del calcinador SP - H10,Coriolis Mty H10,Corriente Soplador Calcinador. - H10,Corriente Soplador Quemador Principal. - H10,FLUJO ROTOR PRECA HORNO 10,FLUJO ROTOR QUEM PPAL HORNO 10,IND GAS CO NUEVO HORNO 10,IND GAS O2 H10 NUEVO HORNO 10,...,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
0,2.447362,196.2504,895.0,0.0,NaN,NaN,7807.787,6478.396,23.125,6.919657,...,1,5,275,False,True,False,True,False,False,1475280000
1,2.501941,188.1276,895.0,0.0,NaN,NaN,8430.720,6468.683,23.125,6.704100,...,1,5,275,False,True,False,True,False,False,1475281800
2,2.049404,199.4761,895.0,0.0,NaN,NaN,8773.441,6509.229,23.125,6.285282,...,1,5,275,False,True,False,True,False,False,1475283600
3,2.482666,186.3170,895.0,0.0,NaN,NaN,8037.510,6480.960,23.125,9.651439,...,1,5,275,False,True,False,True,False,False,1475285400
4,2.565698,197.2983,895.0,0.0,NaN,NaN,7963.257,6527.390,23.125,7.327451,...,1,5,275,False,True,False,True,False,False,1475287200

In [38]:
print(ptbalidfan.shape)
print(ptbalfueldoser.shape)
print(ptmtyidfan.shape)
print(ptmtyfueldoser.shape)

(52536, 13)
(52536, 18)
(52363, 16)
(52363, 14)

In [45]:
def add_datepart(df, fldname, drop=True, time=False, errors="raise"):	
    """add_datepart converts a column of df from a datetime64 to many columns containing
    the information from the date. This applies changes inplace.
    Parameters:
    -----------
    df: A pandas data frame. df gain several new columns.
    fldname: A string that is the name of the date column you wish to expand.
        If it is not a datetime64 series, it will be converted to one with pd.to_datetime.
    drop: If true then the original date column will be removed.
    time: If true time features: Hour, Minute, Second will be added.
    Examples:
    ---------
    >>> df = pd.DataFrame({ 'A' : pd.to_datetime(['3/11/2000', '3/12/2000', '3/13/2000'], infer_datetime_format=False) })
    >>> df
        A
    0   2000-03-11
    1   2000-03-12
    2   2000-03-13
    >>> add_datepart(df, 'A')
    >>> df
        AYear AMonth AWeek ADay ADayofweek ADayofyear AIs_month_end AIs_month_start AIs_quarter_end AIs_quarter_start AIs_year_end AIs_year_start AElapsed
    0   2000  3      10    11   5          71         False         False           False           False             False        False          952732800
    1   2000  3      10    12   6          72         False         False           False           False             False        False          952819200
    2   2000  3      11    13   0          73         False         False           False           False             False        False          952905600
    """
    fld = df[fldname]
    fld_dtype = fld.dtype
    if isinstance(fld_dtype, pd.core.dtypes.dtypes.DatetimeTZDtype):
        fld_dtype = np.datetime64

    if not np.issubdtype(fld_dtype, np.datetime64):
        df[fldname] = fld = pd.to_datetime(fld, infer_datetime_format=True, errors=errors)
    targ_pre = re.sub('[Dd]ate$', '', fldname)
    attr = ['Year', 'Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear',
            'Is_month_end', 'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start']
    if time: attr = attr + ['Hour', 'Minute', 'Second']
    for n in attr: df[targ_pre + n] = getattr(fld.dt, n.lower())
    df[targ_pre + 'Elapsed'] = fld.astype(np.int64) // 10 ** 9
    if drop: df.drop(fldname, axis=1, inplace=True)

## balcones id fan

In [53]:
ptbalidfan.head()

description,KILN ID FAN MOTOR DE BRNG TEMP -KILN2,KILN ID FAN MOTOR ODE BRNG TEMP -KILN2,KILN ID FAN OUTLET PRESSURE -KILN2,KILN ID FAN POWER -KILN2,KILN ID FAN SPEED,KILN ID FAN TEMP #1 FAN BEARING -KILN2,KILN ID FAN TEMP #2 FAN BEARING -KILN2,KILN ID FAN VIBRATION -KILN2,STAGE 1A DISCHARGE GAS PRESSURE -KILN2,STAGE 1B DISCHARGE GAS PRESSURE -KILN2,...,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
0,122.3483,91.0,-1.991539,2283.381,773.7543,151.8130,150.9543,0.049514,-36.64047,-38.13877,...,1,5,275,False,True,False,True,False,False,1475280000
1,122.7297,91.0,-1.988343,2281.579,773.8171,151.6228,150.7006,0.050583,-36.38768,-37.54625,...,1,5,275,False,True,False,True,False,False,1475281800
2,123.1110,91.0,-2.143953,2309.477,773.5776,151.4327,150.4469,0.051653,-36.93771,-38.10820,...,1,5,275,False,True,False,True,False,False,1475283600
3,123.4924,91.0,-2.036518,2297.987,773.6574,151.2425,150.1932,0.052723,-36.33629,-37.83369,...,1,5,275,False,True,False,True,False,False,1475285400
4,123.8737,91.0,-2.108116,2267.121,773.8047,151.0524,149.9395,0.053792,-36.78667,-36.82982,...,1,5,275,False,True,False,True,False,False,1475287200

In [62]:
ptbalidfan.columns.tolist()

['KILN ID FAN MOTOR DE BRNG TEMP -KILN2',
 'KILN ID FAN MOTOR ODE BRNG TEMP -KILN2',
 'KILN ID FAN OUTLET PRESSURE -KILN2',
 'KILN ID FAN POWER -KILN2',
 'KILN ID FAN SPEED',
 'KILN ID FAN TEMP #1 FAN BEARING -KILN2',
 'KILN ID FAN TEMP #2 FAN BEARING -KILN2',
 'KILN ID FAN VIBRATION -KILN2',
 'STAGE 1A DISCHARGE GAS PRESSURE -KILN2',
 'STAGE 1B DISCHARGE GAS PRESSURE -KILN2',
 'WATER SPRAY TOWER OUTLET TEMP 1 -KILN2',
 'WATER SPRAY TOWER OUTLET TEMP 2 -KILN2',
 'Year',
 'Month',
 'Week',
 'Day',
 'Dayofweek',
 'Dayofyear',
 'Is_month_end',
 'Is_month_start',
 'Is_quarter_end',
 'Is_quarter_start',
 'Is_year_end',
 'Is_year_start',
 'Elapsed']

## balcones fueldoser

In [54]:
add_datepart(ptbalfueldoser,"date")

In [55]:
ptbalfueldoser.head()

description,CALC. ROTOWFDR FEEDRATE -KILN2,CALC. ROTOWFDR LOADING MATERIAL -KILN2,CALCINER BLOWER CURRENT -KILN2,CALCINER FEEDER BLOWER PRESSURE -KILN2,FEED FLOWMETER ACTUAL FEEDRATE -KILN2,FEED ROTOWFDR FEEDRATE -KILN2,K2 TIM FEEDRATE,KILN BURNER WFDR SPEED -KILN2,KILN FEEDER BLOWER CURRENT -KILN2,KILN FEEDER BLOWER PRESSURE -KILN2,...,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
0,1.954624,117.5702,80.18141,1.801634,0.0,250.8236,2.043782,762.0124,85.81585,6.092895,...,1,5,275,False,True,False,True,False,False,1475280000
1,2.084685,116.1478,82.46400,1.823007,0.0,250.8170,2.057861,768.6467,88.45000,6.098291,...,1,5,275,False,True,False,True,False,False,1475281800
2,2.483863,121.6483,80.49825,1.844380,0.0,250.8104,2.061873,754.6323,87.67714,6.103687,...,1,5,275,False,True,False,True,False,False,1475283600
3,2.708896,118.1240,84.25157,1.865753,0.0,250.8038,2.019328,735.7861,88.15898,6.109083,...,1,5,275,False,True,False,True,False,False,1475285400
4,1.991432,118.2477,79.99693,1.887126,0.0,250.7972,1.882527,738.4516,85.74269,6.114479,...,1,5,275,False,True,False,True,False,False,1475287200

## monterrey idfan

In [56]:
add_datepart(ptmtyidfan, "date")

In [80]:
ptmtyidfan.head()

description,CHUM L. LIBRE VTI OTE HORNO 10,POTENCIA VTI OTE HORNO 10,POTENCIA VTI PTE HORNO 10,PRESION ENTRADA DRACCO HORNO 10,PRESION ENTRADA VTIS HORNO 10,TEMP CHUM L CARGA VTI OTE HORNO 10,TEMP CHUM L CARGA VTI PTE HORNO 10,TEMP CHUM L LIBRE VTI PTE HORNO 10,TEMP SALIDA PRECALENTADOR HORNO 10,Temp Chumacera Motor Lado Carga VTI OTE,...,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
0,56.65437,940.4066,889.2732,42.12796,617.6624,56.05050,63.53107,60.06686,331.8810,45.19262,...,1,5,275,False,True,False,True,False,False,1475280000
1,56.61032,919.8439,899.3297,40.69216,644.2539,56.03790,63.51220,59.98492,332.1586,45.12966,...,1,5,275,False,True,False,True,False,False,1475281800
2,56.56627,935.7388,938.7916,38.96289,621.0678,56.02531,63.49777,59.90299,332.4363,45.06670,...,1,5,275,False,True,False,True,False,False,1475283600
3,56.52222,924.4288,943.7044,46.99400,622.4374,56.01271,63.49148,59.82106,334.5285,45.00375,...,1,5,275,False,True,False,True,False,False,1475285400
4,56.45634,927.0964,922.0532,48.81271,652.3612,56.00011,63.48518,59.73912,333.6945,44.94079,...,1,5,275,False,True,False,True,False,False,1475287200

## monterrey fueldoser

In [58]:
add_datepart(ptmtyfueldoser, "date")

In [78]:
ptmtyfueldoser.head()

description,Flujo alim rdf h10,ALIMENTACION HORNO HORNO10,Control Fuzzy Temperatura del calcinador SP - H10,Coriolis Mty H10,Corriente Soplador Calcinador. - H10,Corriente Soplador Quemador Principal. - H10,FLUJO ROTOR PRECA HORNO 10,FLUJO ROTOR QUEM PPAL HORNO 10,IND GAS CO NUEVO HORNO 10,IND GAS O2 H10 NUEVO HORNO 10,...,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
0,2.447362,196.2504,895.0,0.0,NaN,NaN,7807.787,6478.396,23.125,6.919657,...,1,5,275,False,True,False,True,False,False,1475280000
1,2.501941,188.1276,895.0,0.0,NaN,NaN,8430.720,6468.683,23.125,6.704100,...,1,5,275,False,True,False,True,False,False,1475281800
2,2.049404,199.4761,895.0,0.0,NaN,NaN,8773.441,6509.229,23.125,6.285282,...,1,5,275,False,True,False,True,False,False,1475283600
3,2.482666,186.3170,895.0,0.0,NaN,NaN,8037.510,6480.960,23.125,9.651439,...,1,5,275,False,True,False,True,False,False,1475285400
4,2.565698,197.2983,895.0,0.0,NaN,NaN,7963.257,6527.390,23.125,7.327451,...,1,5,275,False,True,False,True,False,False,1475287200

In [73]:
# let's capture the categorical variables first
bool_vars = [var for var in ptmtyfueldoser.columns if ptmtyfueldoser[var].dtype == 'bool']
bool_vars

['Is_month_end',
 'Is_month_start',
 'Is_quarter_end',
 'Is_quarter_start',
 'Is_year_end',
 'Is_year_start']

In [75]:
int_vars = [var for var in ptmtyfueldoser.columns if ptmtyfueldoser[var].dtype == 'int64']
int_vars

['Year', 'Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear', 'Elapsed']

In [ ]:
string_vars = [var for var in ptmtyfueldoser.columns if ptmtyfueldoser[var].dtype == 'int64']
string

In [79]:
print(ptbalfueldoser.isna().sum())
print(ptbalidfan.isna().sum())

print(ptmtyfueldoser.isna().sum())
print(ptmtyidfan.isna().sum())

description
CALC. ROTOWFDR FEEDRATE -KILN2                0
CALC. ROTOWFDR LOADING MATERIAL -KILN2        0
CALCINER BLOWER CURRENT -KILN2                0
CALCINER FEEDER BLOWER PRESSURE -KILN2        0
FEED FLOWMETER ACTUAL FEEDRATE -KILN2         0
FEED ROTOWFDR FEEDRATE -KILN2                 0
K2 TIM FEEDRATE                               0
KILN BURNER WFDR SPEED -KILN2                 0
KILN FEEDER BLOWER CURRENT -KILN2             1
KILN FEEDER BLOWER PRESSURE -KILN2            0
KLN BURNER WFDR LOADING MATERIAL -KILN2       0
KLN GAS BMS FLOW -KILN2                      21
MAIN BURNR ROTARY SPEED - KILN/COOLER      3386
MAIN COKE FEED RATE -KILN2                    0
PYROCLON DUCT TEMPERATURE -KILN2              0
SCHENCK WOOD TPH                              0
TERTIARY AIR TO CALCINER TEMP. -KILN2         0
Year                                          0
Month                                         0
Week                                          0
Day                                           0
Dayofweek                                     0
Dayofyear                                     0
Is_month_end                                  0
Is_month_start                                0
Is_quarter_end                                0
Is_quarter_start                              0
Is_year_end                                   0
Is_year_start                                 0
Elapsed                                       0
dtype: int64
description
KILN ID FAN MOTOR DE BRNG TEMP -KILN2       0
KILN ID FAN MOTOR ODE BRNG TEMP -KILN2      0
KILN ID FAN OUTLET PRESSURE -KILN2          0
KILN ID FAN POWER -KILN2                  390
KILN ID FAN SPEED                         344
KILN ID FAN TEMP #1 FAN BEARING -KILN2      0
KILN ID FAN TEMP #2 FAN BEARING -KILN2      0
KILN ID FAN VIBRATION -KILN2                0
STAGE 1A DISCHARGE GAS PRESSURE -KILN2      0
STAGE 1B DISCHARGE GAS PRESSURE -KILN2      0
WATER SPRAY TOWER OUTLET TEMP 1 -KILN2      0
WATER SPRAY TOWER OUTLET TEMP 2 -KILN2      0
Year                                        0
Month                                       0
Week                                        0
Day                                         0
Dayofweek                                   0
Dayofyear                                   0
Is_month_end                                0
Is_month_start                              0
Is_quarter_end                              0
Is_quarter_start                            0
Is_year_end                                 0
Is_year_start                               0
Elapsed                                     0
dtype: int64
description
 Flujo alim rdf h10                                       2
ALIMENTACION HORNO HORNO10                               21
Control Fuzzy Temperatura del calcinador SP - H10        19
Coriolis Mty H10                                          2
Corriente Soplador Calcinador. - H10                  16266
Corriente Soplador Quemador Principal. - H10          16298
FLUJO ROTOR PRECA HORNO 10                                2
FLUJO ROTOR QUEM PPAL HORNO 10                            2
IND GAS CO NUEVO HORNO 10                                 2
IND GAS O2 H10  NUEVO HORNO 10                            2
Presión Entrada Coriolis Calcinador - H10             16250
Presión Entrada Coriolis Quemador Principal. - H10    16250
TEMP AIRE TERC CALCINADOR HORNO 10                        0
Year                                                      0
Month                                                     0
Week                                                      0
Day                                                       0
Dayofweek                                                 0
Dayofyear                                                 0
Is_month_end                                              0
Is_month_start                                            0
Is_quarter_end                                            0
Is_quarter_start                                          0
Is_year_end                                               0
Is_year_start                                             0
Elapsed                                                   0
dtype: int64
description
 CHUM L. LIBRE VTI OTE HORNO 10             0
POTENCIA VTI OTE HORNO 10                   2
POTENCIA VTI PTE HORNO 10                   2
PRESION ENTRADA DRACCO HORNO 10            82
PRESION ENTRADA VTIS HORNO 10              82
TEMP CHUM L CARGA VTI OTE HORNO 10          0
TEMP CHUM L CARGA VTI PTE HORNO 10          0
TEMP CHUM L LIBRE VTI PTE HORNO 10          0
TEMP SALIDA PRECALENTADOR HORNO 10          0
Temp Chumacera Motor Lado Carga VTI OTE    50
Temp Chumacera Motor Lado Libre VTI OTE    50
VELOCIDAD VTI ORIENTE HORNO10              69
VELOCIDAD VTI PONIENTE HORNO10             69
VIBRACION EN VTI OTE HORNO 10              50
VIBRACION EN VTI PTE HORNO 10              50
Year                                        0
Month                                       0
Week                                        0
Day                                         0
Dayofweek                                   0
Dayofyear                                   0
Is_month_end                                0
Is_month_start                              0
Is_quarter_end                              0
Is_quarter_start                            0
Is_year_end                                 0
Is_year_start                               0
Elapsed                                     0
dtype: int64

In [81]:
ptbalfueldoser.to_csv("matrizBalFUELDOSER.csv", index=False)
ptbalidfan.to_csv("matrizBalIDFAN.csv", index=False)

ptmtyfueldoser.to_csv("matrizMtyFUELDOSER.csv", index=False)
ptmtyidfan.to_csv("matrizMtyIDFAN.csv", index=False)

In [82]:
ptbalfueldoser.merge(paros, left_on="")

,TPO_PKTIEMPO,REG_PKPLANTA,REG_DCPLANTA,EQU_PKEQUIPO,EQU_DCTIPOEQUIPOCWEN,EQU_DCEQUIPOCORTO,CPA_PKCAUSA_PARO,PAR_DCESTIPOPAROCW,PAR_DCCATEGORIAPAROCWSP,PAR_DCCOMENTARIO,FECHA_INICIO,FECHA_FIN
0,07/10/16,EA20,Monterrey,EA20-KL10,Kiln,KL10,EA20-21,NaN,NaN,CAERSE CANDADO DE UN PERNO DE LA CORONA,2016.10.07 11:29:57,2016.10.07 14:54:57
1,18/11/16,EA20,Monterrey,EA20-KL10,Kiln,KL10,EA20-32,NaN,NaN,SOBRECARGA VTI PRINCIPAL AL REALIZAR CAMBIO DE...,2016.11.18 14:20:42,2016.11.18 16:59:27
2,09/12/16,EA20,Monterrey,EA20-KL10,Kiln,KL10,EA20-32,NaN,NaN,BLOQUEO EN DUCTO DE DESCARGA DE LA ETAPA 3,2016.12.09 21:08:27,2016.12.10 00:00:00
3,09/12/16,EA20,Monterrey,EA20-KL10,Kiln,KL10,EA20-32,NaN,NaN,LIMPIEZA DEL DUCTO DE DESCARGA DE LA ETAPA 4,2016.12.09 15:33:42,2016.12.09 20:52:12
4,10/12/16,EA20,Monterrey,EA20-KL10,Kiln,KL10,EA20-1032,NaN,NaN,CALENTAMIENTO,2016.12.10 11:00:00,2016.12.10 20:34:42

In [84]:
ptbalfueldoser.head()

description,CALC. ROTOWFDR FEEDRATE -KILN2,CALC. ROTOWFDR LOADING MATERIAL -KILN2,CALCINER BLOWER CURRENT -KILN2,CALCINER FEEDER BLOWER PRESSURE -KILN2,FEED FLOWMETER ACTUAL FEEDRATE -KILN2,FEED ROTOWFDR FEEDRATE -KILN2,K2 TIM FEEDRATE,KILN BURNER WFDR SPEED -KILN2,KILN FEEDER BLOWER CURRENT -KILN2,KILN FEEDER BLOWER PRESSURE -KILN2,...,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
0,1.954624,117.5702,80.18141,1.801634,0.0,250.8236,2.043782,762.0124,85.81585,6.092895,...,1,5,275,False,True,False,True,False,False,1475280000
1,2.084685,116.1478,82.46400,1.823007,0.0,250.8170,2.057861,768.6467,88.45000,6.098291,...,1,5,275,False,True,False,True,False,False,1475281800
2,2.483863,121.6483,80.49825,1.844380,0.0,250.8104,2.061873,754.6323,87.67714,6.103687,...,1,5,275,False,True,False,True,False,False,1475283600
3,2.708896,118.1240,84.25157,1.865753,0.0,250.8038,2.019328,735.7861,88.15898,6.109083,...,1,5,275,False,True,False,True,False,False,1475285400
4,1.991432,118.2477,79.99693,1.887126,0.0,250.7972,1.882527,738.4516,85.74269,6.114479,...,1,5,275,False,True,False,True,False,False,1475287200

# DATOS FEOS

## BALCONES

### IDFAN

In [142]:
bal_idfan.tag.unique().tolist()

['JT53124A02.BAL',
 'PT5310102A.BAL',
 'PT5310102B.BAL',
 'PT5312402.BAL',
 'ST53124A02.BAL',
 'TE53124A52302G.BAL',
 'TE53124A52302H.BAL',
 'TE53124A52302J.BAL',
 'TE53124A52302K.BAL',
 'TT53120A021.BAL',
 'TT53120A022.BAL',
 'XT5312402A.BAL',
 'XT5312402B.BAL']

In [143]:
baltagidfan1= bal_idfan[bal_idfan["tag"]=='JT53124A02.BAL']
baltagidfan1mal= baltagidfan1[(baltagidfan1["value"]<0) | (baltagidfan1["value"]>4000)]

baltagidfan2= bal_idfan[bal_idfan["tag"]== 'PT5310102A.BAL']
baltagidfan2mal= baltagidfan2[(baltagidfan2["value"]<-45) | (baltagidfan2["value"]>0)]

baltagidfan3= bal_idfan[bal_idfan["tag"]== 'PT5310102B.BAL']
baltagidfan3mal= baltagidfan3[(baltagidfan3["value"]<-45) | (baltagidfan3["value"]>0)]

baltagidfan4= bal_idfan[bal_idfan["tag"]== 'PT5312402.BAL']
baltagidfan4mal= baltagidfan4[(baltagidfan4["value"]<-6) | (baltagidfan4["value"]>0)]

baltagidfan5= bal_idfan[bal_idfan["tag"]== 'ST53124A02.BAL']
baltagidfan5mal= baltagidfan5[(baltagidfan5["value"]<0) | (baltagidfan5["value"]>890)]

baltagidfan6= bal_idfan[bal_idfan["tag"]== 'TE53124A52302G.BAL']
baltagidfan6mal= baltagidfan6[(baltagidfan6["value"]<50) | (baltagidfan6["value"]>150)]

baltagidfan7= bal_idfan[bal_idfan["tag"]==  'TE53124A52302H.BAL']
baltagidfan7mal= baltagidfan7[(baltagidfan7["value"]<50) | (baltagidfan7["value"]>150)]

baltagidfan8= bal_idfan[bal_idfan["tag"]==   'TE53124A52302J.BAL']
baltagidfan8mal= baltagidfan8[(baltagidfan8["value"]<50) | (baltagidfan8["value"]>150)]

baltagidfan9= bal_idfan[bal_idfan["tag"]== 'TE53124A52302K.BAL']
baltagidfan9mal= baltagidfan9[(baltagidfan9["value"]<50) | (baltagidfan9["value"]>150)]

baltagidfan10= bal_idfan[bal_idfan["tag"]== 'TT53120A021.BAL']
baltagidfan10mal= baltagidfan10[(baltagidfan10["value"]<50) | (baltagidfan10["value"]>1000)]

baltagidfan11= bal_idfan[bal_idfan["tag"]== 'TT53120A022.BAL']
baltagidfan11mal= baltagidfan11[(baltagidfan11["value"]<50) | (baltagidfan11["value"]>1000)]

baltagidfan12= bal_idfan[bal_idfan["tag"]== 'XT5312402A.BAL']
baltagidfan12mal= baltagidfan12[(baltagidfan12["value"]<0) | (baltagidfan12["value"]>0.5)]

baltagidfan13= bal_idfan[bal_idfan["tag"]==  'XT5312402B.BAL']
baltagidfan13mal= baltagidfan13[(baltagidfan13["value"]<0) | (baltagidfan13["value"]>0.5)]

In [144]:
baltagsidfan=[baltagidfan1mal, baltagidfan2mal, baltagidfan3mal, baltagidfan4mal, baltagidfan5mal, baltagidfan6mal, 
              baltagidfan7mal, baltagidfan8mal, baltagidfan9mal, baltagidfan10mal, baltagidfan11mal, baltagidfan12mal,
              baltagidfan13mal]
balidfan_feos=pd.concat(baltagsidfan)

balidfan_feos.to_csv("balIDFAN_feos.csv", index= False)

In [161]:
print(bal_idfan.shape)
print(balidfan_feos.shape)

(683293, 7)
(60101, 7)

### FUEL DOSER

In [145]:
bal_fueldoser["tag"].unique().tolist()

['8881302A01.BAL',
 '8881502A01.BAL',
 'FT5211002.BAL',
 'FT5211102.BAL',
 'FT55102A02.BAL',
 'FT8880692_STON.BAL',
 'FT8881202.BAL',
 'FT8980104.BAL',
 'FT89821A02.BAL',
 'PT8880602.BAL',
 'PT8881202.BAL',
 'ST88805A01.BAL',
 'ST8880602.BAL',
 'TE5310202F.BAL',
 'TE5311702A.BAL',
 'WT8880602_MAT.BAL',
 'WT8881202_MAT.BAL']

In [146]:
baltagfdoser1= bal_idfan[bal_idfan["tag"]=='8881302A01.BAL']
baltagfdoser1mal= baltagfdoser1[(baltagfdoser1["value"]<0) | (baltagfdoser1["value"]>145)]

baltagfdoser2= bal_idfan[bal_idfan["tag"]=='8881502A01.BAL']
baltagfdoser2mal= baltagfdoser2[(baltagfdoser2["value"]<0) | (baltagfdoser2["value"]>177)]

baltagfdoser3= bal_idfan[bal_idfan["tag"]=='FT5211002.BAL']
baltagfdoser3mal= baltagfdoser3[(baltagfdoser3["value"]<0) | (baltagfdoser3["value"]>350)]

baltagfdoser4= bal_idfan[bal_idfan["tag"]=='FT5211102.BAL']
baltagfdoser4mal= baltagfdoser4[(baltagfdoser4["value"]<0) | (baltagfdoser4["value"]>350)]

baltagfdoser5= bal_idfan[bal_idfan["tag"]=='FT55102A02.BAL']
baltagfdoser5mal= baltagfdoser5[(baltagfdoser5["value"]<0) | (baltagfdoser5["value"]>266)]

baltagfdoser6= bal_idfan[bal_idfan["tag"]=='FT8880692_STON.BAL']
baltagfdoser6mal= baltagfdoser6[(baltagfdoser6["value"]<0) | (baltagfdoser6["value"]>12)]

baltagfdoser7= bal_idfan[bal_idfan["tag"]=='FT8881202.BAL']
baltagfdoser7mal= baltagfdoser7[(baltagfdoser7["value"]<0) | (baltagfdoser7["value"]>12)]

baltagfdoser8= bal_idfan[bal_idfan["tag"]=='FT8980104.BAL']
baltagfdoser8mal= baltagfdoser8[(baltagfdoser8["value"]<0) | (baltagfdoser8["value"]>10)]

baltagfdoser9= bal_idfan[bal_idfan["tag"]=='FT89821A02.BAL']
baltagfdoser9mal= baltagfdoser9[(baltagfdoser9["value"]<0) | (baltagfdoser9["value"]>5)]

baltagfdoser10= bal_idfan[bal_idfan["tag"]=='PT8880602.BAL']
baltagfdoser10mal= baltagfdoser10[(baltagfdoser10["value"]<0) | (baltagfdoser10["value"]>10)]

baltagfdoser11= bal_idfan[bal_idfan["tag"]=='PT8881202.BAL']
baltagfdoser11mal= baltagfdoser11[(baltagfdoser11["value"]<0) | (baltagfdoser11["value"]>10)]

baltagfdoser12= bal_idfan[bal_idfan["tag"]=='ST88805A01.BAL']
baltagfdoser12mal= baltagfdoser12[(baltagfdoser12["value"]<0) | (baltagfdoser12["value"]>100)]

baltagfdoser13= bal_idfan[bal_idfan["tag"]=='ST8880602.BAL']
baltagfdoser13mal= baltagfdoser13[(baltagfdoser13["value"]<0) | (baltagfdoser13["value"]>3000)]

baltagfdoser14= bal_idfan[bal_idfan["tag"]=='TE5310202F.BAL']
baltagfdoser14mal= baltagfdoser14[(baltagfdoser14["value"]<50) | (baltagfdoser14["value"]>1400)]

baltagfdoser15= bal_idfan[bal_idfan["tag"]=='TE5311702A.BAL']
baltagfdoser15mal= baltagfdoser15[(baltagfdoser15["value"]<50) | (baltagfdoser15["value"]>1600)]

baltagfdoser16= bal_idfan[bal_idfan["tag"]=='WT8880602_MAT.BAL']
baltagfdoser16mal= baltagfdoser16[(baltagfdoser16["value"]<0) | (baltagfdoser16["value"]>150)]

baltagfdoser17= bal_idfan[bal_idfan["tag"]=='WT8881202_MAT.BAL']
baltagfdoser17mal= baltagfdoser17[(baltagfdoser17["value"]<0) | (baltagfdoser17["value"]>150)]

In [147]:
baltagsfueldoser=[baltagfdoser1mal, baltagfdoser2mal, baltagfdoser3mal, baltagfdoser4mal, baltagfdoser5mal, baltagfdoser6mal, 
              baltagfdoser7mal, baltagfdoser8mal, baltagfdoser9mal, baltagfdoser10mal, baltagfdoser11mal, baltagfdoser12mal,
              baltagfdoser13mal, baltagfdoser14mal, baltagfdoser15mal, baltagfdoser16mal, baltagfdoser17mal]
balfueldoser_feos=pd.concat(baltagsfueldoser)
balfueldoser_feos.to_csv("balFDOSER_feos.csv", index= False)

In [158]:
print(bal_fueldoser.shape)
print(balfueldoser_feos.shape)

(893537, 7)
(0, 7)

## MONTERREY

### ID FAN

In [148]:
monterrey_idfan["tag"].unique().tolist()

['JI5310210.MTY',
 'JI5310310.MTY',
 'PI5210210.MTY',
 'PI5410610.MTY',
 'SIC5210310.MTY',
 'SIC5210810.MTY',
 'TI5210710D.MTY',
 'TI5210710E.MTY',
 'TI5218110.MTY',
 'TI5218210.MTY',
 'TI5218810.MTY',
 'TI5218910.MTY',
 'TI5310410.MTY',
 'VI5213110.MTY',
 'VI5218110.MTY']

In [149]:
mtytagidfan1= monterrey_idfan[monterrey_idfan["tag"]=='JI5310210.MTY']
mtytagidfan1mal= mtytagidfan1[(mtytagidfan1["value"]<0) | (mtytagidfan1["value"]>1545)]

mtytagidfan2= monterrey_idfan[monterrey_idfan["tag"]=='JI5310310.MTY']
mtytagidfan2mal= mtytagidfan2[(mtytagidfan2["value"]<0) | (mtytagidfan2["value"]>1545)]

mtytagidfan3= monterrey_idfan[monterrey_idfan["tag"]=='PI5210210.MTY']
mtytagidfan3mal= mtytagidfan3[(mtytagidfan3["value"]<0) | (mtytagidfan3["value"]>200)]

mtytagidfan4= monterrey_idfan[monterrey_idfan["tag"]=='PI5410610.MTY']
mtytagidfan4mal= mtytagidfan4[(mtytagidfan4["value"]<0) | (mtytagidfan4["value"]>1000)]

mtytagidfan5= monterrey_idfan[monterrey_idfan["tag"]=='SIC5210310.MTY']
mtytagidfan5mal= mtytagidfan5[(mtytagidfan5["value"]<0) | (mtytagidfan5["value"]>800)]

mtytagidfan6= monterrey_idfan[monterrey_idfan["tag"]=='SIC5210810.MTY']
mtytagidfan6mal= mtytagidfan6[(mtytagidfan6["value"]<0) | (mtytagidfan6["value"]>800)]

mtytagidfan7= monterrey_idfan[monterrey_idfan["tag"]=='TI5210710D.MTY']
mtytagidfan7mal= mtytagidfan7[(mtytagidfan7["value"]<0) | (mtytagidfan7["value"]>100)]

mtytagidfan8= monterrey_idfan[monterrey_idfan["tag"]=='TI5210710E.MTY']
mtytagidfan8mal= mtytagidfan8[(mtytagidfan8["value"]<0) | (mtytagidfan8["value"]>100)]

mtytagidfan9= monterrey_idfan[monterrey_idfan["tag"]=='TI5218110.MTY']
mtytagidfan9mal= mtytagidfan9[(mtytagidfan9["value"]<0) | (mtytagidfan9["value"]>100)]

mtytagidfan10= monterrey_idfan[monterrey_idfan["tag"]=='TI5218210.MTY']
mtytagidfan10mal= mtytagidfan10[(mtytagidfan10["value"]<0) | (mtytagidfan10["value"]>100)]

mtytagidfan11= monterrey_idfan[monterrey_idfan["tag"]=='TI5218810.MTY']
mtytagidfan11mal= mtytagidfan11[(mtytagidfan11["value"]<0) | (mtytagidfan11["value"]>100)]

mtytagidfan12= monterrey_idfan[monterrey_idfan["tag"]=='TI5218910.MTY']
mtytagidfan12mal= mtytagidfan12[(mtytagidfan12["value"]<0) | (mtytagidfan12["value"]>100)]

mtytagidfan13= monterrey_idfan[monterrey_idfan["tag"]=='TI5310410.MTY']
mtytagidfan13mal= mtytagidfan13[(mtytagidfan13["value"]<0) | (mtytagidfan13["value"]>500)]

mtytagidfan14= monterrey_idfan[monterrey_idfan["tag"]=='VI5213110.MTY']
mtytagidfan14mal= mtytagidfan14[(mtytagidfan14["value"]<50) | (mtytagidfan14["value"]>10)]

mtytagidfan15= monterrey_idfan[monterrey_idfan["tag"]=='VI5218110.MTY']
mtytagidfan15mal= mtytagidfan15[(mtytagidfan15["value"]<50) | (mtytagidfan15["value"]>10)]

In [150]:
mtytagsidfan=[mtytagidfan1mal, mtytagidfan2mal, mtytagidfan3mal, mtytagidfan4mal, mtytagidfan5mal, mtytagidfan6mal, 
              mtytagidfan7mal, mtytagidfan8mal, mtytagidfan9mal, mtytagidfan10mal, mtytagidfan11mal, mtytagidfan12mal,
              mtytagidfan13mal, mtytagidfan14mal, mtytagidfan15mal]
mtyidfan_feos=pd.concat(mtytagsidfan)
mtyidfan_feos.to_csv("mtyIDFAN_feos.csv", index= False)

In [157]:
print(monterrey_idfan.shape)
print(mtyidfan_feos.shape)

(788415, 7)
(104769, 7)

### FUEL DOSER

In [151]:
monterrey_fueldoser["tag"].unique().tolist()

['AI52101A10.MTY',
 'AI52101B10.MTY',
 'FI8810810.MTY',
 'FI8811010.MTY',
 'FIC5200410.MTY',
 'FIC8914410.MTY',
 'FIC8915010.MTY',
 'II8882110.MTY',
 'II888310.MTY',
 'PI8885810.MTY',
 'PI8886710.MTY',
 'TI5910110.MTY',
 'TIC5210510A.SP.MTY']

In [152]:
mtytagfdoser1= monterrey_fueldoser[monterrey_fueldoser["tag"]=='AI52101A10.MTY']
mtytagfdoser1mal= mtytagfdoser1[(mtytagfdoser1["value"]<0) | (mtytagfdoser1["value"]>20)]

mtytagfdoser2= monterrey_fueldoser[monterrey_fueldoser["tag"]=='AI52101B10.MTY']
mtytagfdoser2mal= mtytagfdoser2[(mtytagfdoser2["value"]<0) | (mtytagfdoser2["value"]>10000)]

mtytagfdoser3= monterrey_fueldoser[monterrey_fueldoser["tag"]=='FI8810810.MTY']
mtytagfdoser3mal= mtytagfdoser3[(mtytagfdoser3["value"]<0) | (mtytagfdoser3["value"]>20000)]

mtytagfdoser4= monterrey_fueldoser[monterrey_fueldoser["tag"]=='FI8811010.MTY']
mtytagfdoser4mal= mtytagfdoser4[(mtytagfdoser4["value"]<0) | (mtytagfdoser4["value"]>15000)]

mtytagfdoser5= monterrey_fueldoser[monterrey_fueldoser["tag"]=='FIC5200410.MTY']
mtytagfdoser5mal= mtytagfdoser5[(mtytagfdoser5["value"]<0) | (mtytagfdoser5["value"]>220)]

mtytagfdoser6= monterrey_fueldoser[monterrey_fueldoser["tag"]=='FIC8914410.MTY']
mtytagfdoser6mal= mtytagfdoser6[(mtytagfdoser6["value"]<0) | (mtytagfdoser6["value"]>12)]

mtytagfdoser7= monterrey_fueldoser[monterrey_fueldoser["tag"]=='FIC8915010.MTY']
mtytagfdoser7mal= mtytagfdoser7[(mtytagfdoser7["value"]<0) | (mtytagfdoser7["value"]>10)]

mtytagfdoser8= monterrey_fueldoser[monterrey_fueldoser["tag"]=='II8882110.MTY']
mtytagfdoser8mal= mtytagfdoser8[(mtytagfdoser8["value"]<0) | (mtytagfdoser8["value"]>200)]

mtytagfdoser9= monterrey_fueldoser[monterrey_fueldoser["tag"]=='II888310.MTY']
mtytagfdoser9mal= mtytagfdoser9[(mtytagfdoser9["value"]<0) | (mtytagfdoser9["value"]>400)]

mtytagfdoser10= monterrey_fueldoser[monterrey_fueldoser["tag"]=='PI8885810.MTY']
mtytagfdoser10mal= mtytagfdoser10[(mtytagfdoser10["value"]<0) | (mtytagfdoser10["value"]>700)]

mtytagfdoser11= monterrey_fueldoser[monterrey_fueldoser["tag"]=='PI8886710.MTY']
mtytagfdoser11mal= mtytagfdoser11[(mtytagfdoser11["value"]<0) | (mtytagfdoser11["value"]>700)]

mtytagfdoser12= monterrey_fueldoser[monterrey_fueldoser["tag"]=='TI5910110.MTY']
mtytagfdoser12mal= mtytagfdoser12[(mtytagfdoser12["value"]<0) | (mtytagfdoser12["value"]>1200)]

mtytagfdoser13= monterrey_fueldoser[monterrey_fueldoser["tag"]=='TIC5210510A.SP.MTY']
mtytagfdoser13mal= mtytagfdoser13[(mtytagfdoser13["value"]<0) | (mtytagfdoser13["value"]>1000)]

In [153]:
mtytagsfdoser=[mtytagfdoser1mal, mtytagfdoser2mal, mtytagfdoser3mal, mtytagfdoser4mal, mtytagfdoser5mal, mtytagfdoser6mal, 
              mtytagfdoser7mal, mtytagfdoser8mal, mtytagfdoser9mal, mtytagfdoser10mal, mtytagfdoser11mal, mtytagfdoser12mal,
              mtytagfdoser13mal]
mtyfdoser_feos=pd.concat(mtytagsfdoser)
mtyfdoser_feos.to_csv("mtyFDOSER_feos.csv", index= False)

In [163]:
print(monterrey_fueldoser.shape)
print(mtyfdoser_feos.shape)

(683293, 7)
(328, 7)